<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Region</title>
</head>
<body>
    <h1>Region Page</h1>

    <br>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/error">Error</a>
    <a href="/region">Regions</a>
    <a href="/state">States</a>
    <a href="/district">Districts</a>
    <br>

    <ol class="regions">
        <% data.forEach((el, i = 0) => { %>
            <li>id: <%= el.id %> Name: <%= el.name %> stateId: <%= el.stateId %> </li>
       <% }) %>
    </ol>
    <br>

    <form action="/api/region/create" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="regionName" required>
        <input type="text" name="stateId" placeholder="stateId" required>
        <button type="submit">submit</button>
    </form>
</body>
</html>